:root {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* searchbar */
.google-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20em;
}

input {
  background-color:white;
  margin-left:12m;
  width:40em;
  height:5m;
  color:black;
}

.form-search {
  background-color: white;
}

.search-btn-container {
  display:flex;
  justify-content: center;
  margin-top:2.5em;
}

.search-btn {
  margin-right:8em;
  border-radius: 8px;
  padding:0.5em;
  background-color: gray;
}

/* #google pic */
.google-container-pics {
  display:flex;
  flex-direction: row;
  max-width: 30%;
  height: auto;
  margin-right:7em;
}

.cat-pic {
  height:8em;
  margin-top:1em;
}

.google-container > img {
  height:auto;
  max-width: 30%;
}

.joke-section {
  margin-top: 4em;
  text-align: center;
  color: black;
}

strong {
  color: black;
}

/* all navbar */
.navbar {
  background-color: white;
  color: black;
}

.navbar-item {
  color: black;
}

.navbar-end {
  margin-right: 14em;
}

/* footer */
.footer {
  color:black;
  background-color:white;
  padding:1em;
}

/* results page */
.search-text-container {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color:black;
  padding:2em;
}

.results-text-header {
  display:flex;
  justify-content: flex-start;
}

.results-text-container::after {
  white-space: pre-wrap;
}

.no-results-container {
  display:flex;
  flex-direction: column;
}
