:root {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* searchbar */
.google-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20em;
}

input {
  background-color:white;
  margin-left:12m;
  width:40em;
  height:5m;
  color:black;
}

.form-search {
  background-color: white;
}

.search-btn-container {
  display:flex;
  justify-content: center;
  margin-top:2.5em;
}

.search-btn {
  margin-right:8em;
  border-radius: 8px;
  padding:0.5em;
  background-color: gray;
}

/* #google pic */
img {
  max-width: 30%;
  height: auto;
}

/* all navbar */
.navbar {
  background-color: white;
  color: black;
}

.navbar-item {
  color: black;
}

.navbar-end {
  margin-right: 14em;
}

/* footer */
.footer {
  color:black;
  background-color:white;
  padding:1em;
}
